* {
    font-family: 'Lato', 'Source Sans Pro', 'Open Sans', sans-serif;
    box-sizing: border-box;
    align-content: center;
}

    *:not(h1) {
        font-size: 1.1em;
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: #260e3e;
}

#login-form-wrapper {
    width: 50%;
    height: 50%;
}

#svg-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vmin;
    height: 50vmin;
    min-width: 20em;
    min-height: 20em;
    max-width: 70em;
    max-height: 70em;
}

#line-outside {
    stroke: #f47820;
    stroke-width: 8;
    fill: #59297d;
}

#login-form {
    margin: 0 auto;
}

.message {
    fill: #b9a8c7;
}

.message-welcome {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
}

.message-data {
    font-weight: 100;
    font-size: 1.6em;
}

.message-sign-up {
    font-size: 1.2em;
    fill: #f47820;
    border: 1em solid;
    border-radius: 50px;
    border-color: #f47820;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: fill 150ms cubic-bezier(0,.83,.6,1);
}

#svg-button-border {
    fill: #59297d;
    stroke: #f47820;
    stroke-width: 4;
    transition: fill 150ms cubic-bezier(0,.83,.6,1);
}

#button-sign-up:hover {
    cursor: pointer;
}

    #button-sign-up:hover #svg-button-border {
        fill: #f47820;
    }

    #button-sign-up:hover .message-sign-up {
        fill: #59297d;
    }

input {
    width: 126%;
    font-size: 1.16em;
    outline: none;
    border: none;
    padding: 0.6em;
    background-color: #59297d;
    color: #b9a8c7;
}

    input.active {
        color: #f47820;
    }

    input[type="password"] {
        text-security: disc;
        -webkit-text-security: disc;
        -mox-text-security: disc;
    }

/* WebKit/Blink Browsers */
::selection {
    background: #260e3e;
}

/* Gecko Browsers */
::-moz-selection {
    background: #260e3e;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
    color: #b9a8c7;
    /* Firefox */
    opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: #b9a8c7;
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: #b9a8c7;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
:focus::placeholder {
    color: #f47820;
    /* Firefox */
    opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: #f47820;
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: #f47820;
}

line {
    stroke: #b9a8c7;
    stroke-width: 3.5;
}

    line.active {
        stroke: #f47820;
    }

#line-decoration {
    stroke: #f47820;
    stroke-width: 6.5;
}
