@{
    ViewData["Title"] = "Welcome!";
}

<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="login-form-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="0 0 1000 1000" preserveAspectRatio="xMaxYMax meet" id="svg-login">
            <g>

                <rect x="5" y="5" rx="20" ry="20" width="990" height="990" id="line-outside"></rect>

                <text x="500" y="230" text-anchor="middle" alignment-baseline="central" class="message message-welcome">Welcome!</text>

                <line x1="300" y1="294" x2="700" y2="294" id="line-decoration" />

                <text x="500" y="374" text-anchor="middle" alignment-baseline="central" class="message message-data">enter your e-mail address</text>
                <text x="500" y="424" text-anchor="middle" alignment-baseline="central" class="message message-data">and password</text>
                <text x="500" y="474" text-anchor="middle" alignment-baseline="central" class="message message-data">in order to sign up</text>

                <foreignObject x="250" y="542" width="400" height="1000" text-anchor="middle" alignment-baseline="central" autocapitalize="off" spellcheck="false">
                    <input type="text" placeholder="E-mail" />
                </foreignObject>

                <line x1="250" y1="618" x2="750" y2="618" id="line-login" />

                <foreignObject x="250" y="642" width="400" height="1000" text-anchor="middle" alignment-baseline="central" autocapitalize="off" spellcheck="false">
                    <input type="password" placeholder="Password" />
                </foreignObject>

                <line x1="250" y1="718" x2="750" y2="718" id="line-password" />

                <svg x="375" y="796" width="260" height="120" dominant-baseline="central">

                    <a xlink:href="" id="button-sign-up">
                        <rect x="10" y="10" rx="50" ry="50" width="240" height="100" id="svg-button-border" />
                        <text x="70" y="60" class="message-sign-up">Sign Up</text>
                    </a>

                </svg>

            </g>
        </svg>
    </div>

    <script>

        $("input[type='text']").on("focus", function () {
            $(this).addClass("active");
            $("#line-login").addClass("active");
        });

        $("input[type='text']").on("focusout", function () {
            $(this).removeClass("active");
            $("#line-login").removeClass("active");
        });

        $("input[type='password']").on("focus", function () {
            $(this).addClass("active");
            $("#line-password").addClass("active");
        });

        $("input[type='password']").on("focusout", function () {
            $(this).removeClass("active");
            $("#line-password").removeClass("active");
        });

    </script>

</body>

</html>